<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:replace="~{common/header :: header('Title')}">
</head>
<body>
<main class="main mt-5 px-lg-6">
    <div class="container-lg">
        <div class="row align-items-center">
            <div class="col-12 col-md order-md-0 text-center text-md-start">
                <h1>Edit lectureTime</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-5 mb-3">
                <div th:if="${errorMessage}" class="alert alert-danger">
                    <p th:text="${errorMessage}"></p>
                </div>
            </div>
            <div class="col-12 col-md order-md-0 text-center text-md-start">
                <form id="form1" th:method="PATCH" th:action="@{/lecturetimes/{id}(id=${id})}"
                      th:object="${lectureTimeFormDto}">
                    <div class="row mb-3">
                        <div class="col-6">
                            <label class="form-label">Start Date</label>
                            <input type="date" class="form-control" th:field="*{startDate}" />
                            <div th:if="${#fields.hasErrors('startDate')}" class="text-danger" th:errors="*{startDate}"></div>
                        </div>
                        <div class="col-6">
                            <label class="form-label">Start Time</label>
                            <input type="time" class="form-control" th:field="*{startTime}" />
                            <div th:if="${#fields.hasErrors('startTime')}" class="text-danger" th:errors="*{startTime}"></div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-6">
                            <label class="form-label">End Date</label>
                            <input type="date" class="form-control" th:field="*{endDate}" />
                            <div th:if="${#fields.hasErrors('endDate')}" class="text-danger" th:errors="*{endDate}"></div>
                        </div>
                        <div class="col-6">
                            <label class="form-label">End Time</label>
                            <input type="time" class="form-control" th:field="*{endTime}" />
                            <div th:if="${#fields.hasErrors('endTime')}" class="text-danger" th:errors="*{endTime}"></div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" value="Update lectureTime">Update lectureTime</button>
                </form>
            </div>
            <div class="col-12 mt-5">
                <a class="btn btn-outline-primary" href="/lecturetimes">Back to all lectureTimes</a>
            </div>
        </div>
    </div>
</main>
</body>
