<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:replace="~{common/header :: header('Title')}">
</head>
<body>
<main class="main mt-5 px-lg-6">
    <div class="container-lg">
        <div class="row align-items-center">
            <div class="col-12 col-md order-md-0 text-center text-md-start">
                <h1>Edit Vacation</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-5 mb-3">
                <div th:if="${errorMessage}" class="alert alert-danger">
                    <p th:text="${errorMessage}"></p>
                </div>
            </div>
            <div class="col-12 col-md order-md-0 text-center text-md-start">
                <form id="form1" th:method="PATCH"
                      th:action="@{/teachers/{teacherId}/vacations/{vacationId}(teacherId=${teacher.getId()}, vacationId=${vacation.getId()})}"
                      th:object="${vacation}">
                    <div class="mb-3">
                        <label class="form-label" for="startJob">startJob</label>
                        <input class="form-control" type="date" th:field="*{startJob}" id="startJob"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="endJob">endJob</label>
                        <input class="form-control" type="date" th:field="*{endJob}" id="endJob"/>
                    </div>
                    <button type="submit" class="btn btn-primary" value="Update vacation">Update vacation</button>
                </form>
            </div>
            <div class="col-12 mt-5">
                <a class="btn btn-outline-primary" th:href="@{/teachers/{id}/vacations(id=${teacher.getId()})}">Back to
                    all vacations</a>
            </div>
        </div>
    </div>
</main>
</body>
