<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:replace="~{common/header :: header('Title')}">
</head>
<body>
<main class="main mt-5 px-lg-6">
    <div class="container-lg">
        <div class="row align-items-center">
            <div class="col-12 col-md order-md-0 text-center text-md-start">
                <h1>Add vacations</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-5 mb-3">
                <div th:if="${errorMessage}" class="alert alert-danger">
                    <p th:text="${errorMessage}"></p>
                </div>
            </div>
            <div class="col-12 col-md order-md-0 text-center text-md-start">
                <form th:method="POST" th:action="@{/teachers/{teacherId}/vacations(teacherId=${teacher.id})}"
                      th:object="${vacationDto}">
                    <div class="mb-3">
                        <label class="form-label" for="startJob">startJob</label>
                        <input class="form-control" type="date" th:field="*{startJob}" id="startJob"/>
                        <div class="text-danger" th:if="${#fields.hasErrors('startJob')}" th:errors="*{startJob}"></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="endJob">endJob</label>
                        <input class="form-control" type="date" th:field="*{endJob}" id="endJob"/>
                        <div class="text-danger" th:if="${#fields.hasErrors('endJob')}" th:errors="*{endJob}"></div>
                    </div>

                    <button type="submit" class="btn btn-primary" value="add student">add vacation</button>
                </form>
            </div>
            <div class="col-12 mt-5">
                <a class="btn btn-outline-primary" th:href="@{/teachers/{id}/vacations(id=${teacher.id})}">Back to
                    all vacations</a>
            </div>
        </div>
    </div>
</main>
</body>
