<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:replace="~{common/header :: header('Title')}">
</head>
<body>
<main class="main mt-5 px-lg-6">
    <div class="container-lg">
        <div class="row align-items-center">
            <div class="col-12 col-md order-md-0 text-center text-md-start">
                <h1 class="fs-lg text-body-secondary mb-0">Welcome to <span th:text="${cathedraName}"></span> home page!
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md order-md-0 text-center text-md-start mt-5">
                <a class="btn btn-primary" th:href="@{/students}">students</a>
                <a class="btn btn-primary" th:href="@{/subjects}">subject</a>
                <a class="btn btn-primary" th:href="@{/holidays}" >holidays</a>
                <a class="btn btn-primary" th:href="@{/audiences}" >audiences</a>
                <a class="btn btn-primary" th:href="@{/groups}">groups</a>
                <a class="btn btn-primary" th:href="@{/lecturetimes}">lecturetimes</a>
                <a class="btn btn-primary" th:href="@{/teachers}" >teachers</a>
                <a class="btn btn-primary" th:href="@{/lectures}" >lectures</a>
            </div>
        </div>
    </div>
</main>
</body>
</html>