<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:replace="~{common/header :: header('Title')}">
</head>
<body>
<main class="main mt-5 px-lg-6">
    <div class="container-lg">
        <div class="row align-items-center">
            <div class="col-12 col-md order-md-0 text-center text-md-start">
                <h1>Edit Teacher</h1>
            </div>
        </div>

        <div class="row ">
            <div class="col-12 mt-5 mb-3">
                <div th:if="${errorMessage}" class="alert alert-danger">
                    <p th:text="${errorMessage}"></p>
                </div>
            </div>
            <div class="col-12 col-md order-md-0 text-center text-md-start">
                <form id="form1" th:method="PATCH" th:action="@{/teachers/{id}(id=${teacherDto.id})}"
                      th:object="${teacherDto}">
                    <div class="mb-3">
                        <label class="form-label" for="firstName">firstName</label>
                        <input class="form-control" type="text" th:field="*{firstName}" id="firstName"/>
                        <div class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="lastName">lastName</label>
                        <input class="form-control" type="text" th:field="*{lastName}" id="lastName"/>
                        <div class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="gender">gender</label>
                        <select class="form-select" name="gender" id="gender" required>
                            <option th:each="genderOpt : ${T(org.example.univer.models.Gender).values()}"
                                    th:value="${genderOpt}"
                                    th:field="*{gender}"
                                    th:text="${genderOpt}">Gender
                            </option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="address">address</label>
                        <input class="form-control" type="text" th:field="*{address}" id="address"/>
                        <div class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="email">email</label>
                        <input class="form-control" type="text" th:field="*{email}" id="email"/>
                        <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="phone">phone</label>
                        <input class="form-control" type="text" th:field="*{phone}" id="phone"/>
                        <div class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="birthday">birthday</label>
                        <input class="form-control" type="date" th:field="*{birthday}" id="birthday"/>
                        <div class="text-danger" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="cathedra">Group:</label>
                        <select class="form-select" name="cathedra" id="cathedra" th:field="*{cathedra.id}">
                            <option value="0">No cathedra</option>
                            <option th:each="anyCathedra : ${cathedras}"
                                    th:field="*{cathedra.id}"
                                    th:value="${anyCathedra?.id}"
                                    th:text="${anyCathedra?.name}">
                            </option>
                        </select>
                        <div class="text-danger" th:if="${#fields.hasErrors('cathedra')}" th:errors="*{cathedra}"></div>
                    </div>
                    <div class="mb-3">
                        <label for="subjects">Choose subject(s): </label>
                        <select class="form-control" id="subjects" name="subjectIds" multiple required>
                            <option th:each="subject: ${subjects}"
                                    th:value="${subject.id}"
                                    th:selected="${teacherDto.subjectIds.contains(subject.id)}"
                                    th:text="${subject.name}">Subject
                            </option>
                        </select>
                        <div class="text-danger" th:if="${#fields.hasErrors('subjects')}" th:errors="*{subjects}"></div>
                    </div>
                    <button type="submit" class="btn btn-primary" value="Update teacher">Update teacher</button>
                </form>
            </div>
            <div class="col-12 mt-5">
                <a class="btn btn-outline-primary" href="/teachers">Back to all teachers</a>
            </div>
        </div>
    </div>
</main>
</body>
