<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:replace="~{common/header :: header('Title')}">
</head>
<body>
<main class="main mt-5 px-lg-6">
    <div class="container-lg">
        <div class="row align-items-center">
            <div class="col-12 col-md order-md-0 text-center text-md-start">
                <h1>Show student by id</h1>
            </div>
        </div>
        <div class="row ">
            <div class="col-12 col-md order-md-0 text-center text-md-start">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Family</th>
                            <th>Gender</th>
                            <th>Address</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Birthday</th>
                            <th>Group</th>
                       </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a th:text="${studentDto.id}">Id</a></td>
                            <td><a th:text="${studentDto.firstName}">Name</a></td>
                            <td><a th:text="${studentDto.lastName}">Family</a></td>
                            <td><a th:text="${studentDto.gender}">gender</a></td>
                            <td><a th:text="${studentDto.address}">address</a></td>
                            <td><a th:text="${studentDto.email}">email</a></td>
                            <td><a th:text="${studentDto.phone}">phone</a></td>
                            <td><a th:text="${studentDto.birthday}">birthday</a></td>
                            <td><a th:text="${studentDto?.group?.name}">group</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12 mt-5">
                <a class="btn btn-outline-primary" href="/students">Back to all students</a>
            </div>
        </div>
    </div>
</main>
</body>
