<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:replace="~{common/header :: header('Title')}">
</head>
<body>
<main class="main mt-5 px-lg-6">
    <div class="container-lg">
        <div class="row align-items-center">
            <div class="col-12 col-md order-md-0 text-center text-md-start">
                <h1>Add holiday</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-5 mb-3">
                <div th:if="${errorMessage}" class="alert alert-danger">
                    <p th:text="${errorMessage}"></p>
                </div>
            </div>
            <div class="col-12 col-md order-md-0 text-center text-md-start">
                <form th:method="POST" th:action="@{/holidays}" th:object="${holiday}">
                    <div class="mb-3">
                        <label class="form-label" for="desc">desc</label>
                        <input class="form-control" type="text" th:field="*{description}" id="desc"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="start_holiday">start_holiday</label>
                        <input class="form-control" type="date" th:field="*{start_holiday}" id="start_holiday"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="end_holiday">end_holiday</label>
                        <input class="form-control" type="date" th:field="*{end_holiday}" id="end_holiday"/>
                    </div>

                    <button type="submit" class="btn btn-primary" value="add student">add holiday</button>
                </form>
            </div>
            <div class="col-12 mt-5">
                <a class="btn btn-outline-primary" href="/holidays">Back to all holidays</a>
            </div>
        </div>
    </div>
</main>
</body>
