<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:replace="~{common/header :: header('Title')}">
</head>
<body>
<main class="main mt-5 px-lg-6">
    <div class="container-lg">
        <div class="row align-items-center">
            <div class="col-12 col-md order-md-0 text-center text-md-start">
                <h1>Show Lecture</h1>
            </div>
        </div>
        <div class="row ">
            <div class="col-12 col-md order-md-0 text-center text-md-start">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Cathedra</th>
                        <th>Subject</th>
                        <th>Teacher</th>
                        <th>Lecture Time</th>
                        <th>Audience</th>
                        <th>Group</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${lecture.getId()}">Id</td>
                        <td th:text="${lecture.getCathedra().getName()}">Cathedra</td>
                        <td th:text="${lecture.getSubject().getName()}">Subject</td>
                        <td th:text="${lecture.getTeacher().getFirstName()} + ' ' + ${lecture.getTeacher().getLastName()}">
                            Teacher
                        </td>
                        <td th:text="${lecture.getTime().getStartLecture()} + ' ' + ${lecture.getTime().getEndLecture()}">Time</td>
                        <td th:text="${lecture.getAudience().getRoomNumber()}">Room</td>
                        <td>
                            <ul th:each="group : ${groups}">
                                <li th:text="${group?.getName()}">Group</li>
                            </ul>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12 mt-5">
                <a class="btn btn-outline-primary" href="/lectures">Back to lectures</a>
            </div>
        </div>
    </div>
</main>
</body>
